<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout WD GRID</title>
    <link href="layout.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>
            SHIFT <br>
            1o Encontro de UX no IFRN
        </h1>
    </header>

    <main>
        <nav>
            <ul>
                <li><a href="">Inscrições</a></li>
                <li><a href="">Programação</a></li>
                <li><a href="">Palestrantes</a></li>
                <li><a href="">Organização</a></li>
                <li><a href="">Contato</a></li>
            </ul>
        </nav>
        

        <div>
            <p>O evento será organizado 
               Cillum singulis voluptate o te enim cillum ad aliquip, incididunt.</p>
               <input type="button" value = "Ler mais">
        </div>

        <nav>
            <ul>
                <li><a href="">Palestras</a></li>
                <li><a href="">Workshops</a></li>
                <li><a href="">Minicursos</a></li>
                <li><a href="">Estudos de casos</a></li>
                <li><a href="">Prêmios</a></li>
               
            </ul>
        </nav>

        <div>
            <p>Larissa Fernandes</p>
        </div>

        <div>
            <h2>Programação</h2> 

            <table>                
                <tr>
                    <td rowspan="2">Dia 03/06</td>
                    <td>08:00</td>                    
                    <td>Abertura</td>                
                </tr>

                <tr>
                    <td>11:00</td>
                    <td>Sorteios</td>
                </tr>
                <tr>
                    <td rowspan="2">Dia 04/06</td>
                    <td>08:00</td>                    
                    <td>Palestra de Andrei Gurgel</td>                
                </tr>

                <tr>
                    <td>11:00</td>
                    <td>Sorteios</td>
                </tr>
            </table>         
           
        </div>

        <div>
            <h2>Inscrição</h2>
            <input type="Text" placeholder="Nome">
            <input type="email" placeholder="E-mail">
            <input type="number" placeholder="Celular">
            <input type="checkbox" name="checkbox">
            <label for="checkbox">Aluno do IF</label>
            <input type="submit" value="Enviar">            
        </div>

        <div>
            <p>Natália Lima</p>
        </div>

        <div>
            <h2>Organização</h2>
            <p>Professores da DIATINF/CNAT/IFRN:</p>
            <ul>
                <li>Profa. Alyana Macêdo</li>
                <li>Profa. Danielle Freitas</li>
            </ul>

        </div>

        <div>
            <p>Amanda Freire</p>
        </div>

        <div>
            <p>Henrique Almeida</p>
        </div>


    </main>

    <footer>
        <p>Desenvolvido por IFRN.</p>
    </footer>
    
</body>
</html>